<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    <form method="POST" action="/">
    <p><input type="text" name= ""></p>
    <p><input type="text" name= ""></p>
    <p><input type="text" name= ""></p>
    <input type="submit" name="submit">
  </form>
  </body>
</html>
