<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Display Puppy</title>
  </head>
  <body>
    <h1>Puppy Name:<%= @name %></h1>
    <h1>Puppy Breed:<%= @breed %></h1>
    <h1>Puppy Age:<%= @age %></h1>
    <input type="submit" name="submit">
  </body>
</html>
