<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Display Puppy</title>
  </head>
  <body>
    <h1>The name:<%= @name %></h1>
    <h1>The breed:<%= @breed %></h1>
    <h1>The age:<%= @age %></h1>
    <!-- <input type="submit" name="submit"> -->
  </body>
</html>
